<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
			background-color: #f5f5f5;
		}

		h1 {
			margin: 0;
		}

		section {
			max-width: 1080px;
			margin: 0 auto;
			padding: 40px 20px;
			background-color: #d7cdcd;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			border-radius: 5px;
			text-align: center;
		}

		p {
			line-height: 1.5;
			margin: 40px;
		}
	</style>
</head>
<body>

	<section>	
		<h1>ABOUT US</h1>
		<ul></ul>
	</br>
		<img src="/uploads/publish-recipe.png" alt = "image" width="max-width"/>
		<ul></ul>

		<p>Whether you're looking for quick and easy weeknight meals, impressive dishes to impress your guests, or wholesome recipes for a healthy lifestyle, our recipe blog app has got you covered. With a vast collection of carefully curated recipes from around the world, you'll find something to satisfy every craving and dietary preference.</p>

		<h5>Here's what you can expect from our recipe blog app :</h5>
	</br>
		<ol>
			<li>Explore a World of Flavors: Embark on a culinary journey as you discover an extensive range of recipes inspired by various cuisines. From traditional family favorites to innovative fusion dishes, our app provides a diverse selection to suit all taste buds.</li>
		</br>
			<li>Step-by-Step Instructions: We believe that anyone can cook, and our recipes are designed to be user-friendly and easy to follow. Each recipe comes with detailed step-by-step instructions, complete with ingredient measurements and cooking techniques, ensuring that you achieve fantastic results every time.</li>
		</br>
			<li>Dietary Options for All: We understand that dietary preferences and restrictions can vary, which is why our app offers a wide array of options. Whether you're vegetarian, vegan, gluten-free, or follow a specific diet like keto or paleo, you'll find recipes tailored to your needs.</li>
		</ol>
	</section>
</body>
</html>
