<!DOCTYPE html>
<html lang="en">

<head>
  <title>Contact Us</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
    }

    section {
      max-width: 1080px;
      margin: 0 auto;
      padding: 30px 10px;
      background-color: #b1d7d7;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding-left: 50px;
      text-align: left;
      /* background-image: url(/uploads/contact.png); */
    }

    p {
      line-height: 1.5;
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <section>
    <h1 className="bg-dark p-2 text-white text-center">CONTACT US</h1>
    </br>
    </br>
    </br>
    <div class="row">
      <div class="col">
        <h4 className="text-justify mt-2">
          Any query and info about prodduct feel free to call anytime we 24X7
          vaialible
        </h4>
        </br>
        <h6 className="mt-3">
          <i class="material-icons">Web</i> : www.recipeblog.com </br>
          <!-- <i class="fa fa-facbook">Mobile</i> : 8618749880 </br>
            <i class="material-icons">Email</i> : help@recipeblog.com -->
        </h6>
        <h6 className="mt-3">
          <!-- <i class="material-icons">Web</i> : www.recipeblog.com </br> -->
          <i class="fa fa-facbook">Mobile</i> : 8432364945 </br>
          <!-- <i class="material-icons">Email</i> : help@recipeblog.com -->
        </h6>
        <h6 className="mt-3">
          <!-- <i class="material-icons">Web</i> : www.recipeblog.com </br>
            <i class="fa fa-facbook">Mobile</i> : 8618749880 </br> -->
          <i class="material-icons">Email</i> : help@recipeblog.com
        </h6>
      </div>
      <div class="col ">
        <img src="/uploads/contact.png" alt="contactus" height="300px" />
      </div>
    </div>
  </section>
</body>

</html>