<!DOCTYPE html>
<html lang="en">

<body>
    <div class="complete">
    <h1>Your email is Verified...</h1>
    <h5 class="resCenter"> Now you can login and enjoy the Delicious Recipes</h5>
</div>
</body>

</html>