<!DOCTYPE html>
<html>
<body >
	<div class="row share-page">
		<div class="col share-container">
		<h1>Copy this link to share</h1>
<input class="share-input" type="text" value="<%= url %>" id="myInput"></input>
<button class="btn btn-outline-primary" onclick="myFunction()">Copy Link</button>
</div>
</div>
</body>
</html>
